.mt-50 {
  margin-top: 50px;
}

.alert {
  color: red;
}
.app {
  text-align: center;
}

.title {
  font-size: 30px;
}

.label {
  margin-right: 20px;
}

.button {
  margin-top: 20px !important;
}

.items-option {
  font-size: 13px;
  text-align: left;
  margin: 0 auto;
  width: 300px;
}

.title-option {
  font-weight: bold;
}

.item-option {
  margin: 10px 0;
}

.input-option {
  width: 35px !important;
}

.btn-option {
  margin-left: 30px !important;
}

.table {
  margin: 0 auto;
  width: 80% !important;
}

.select-input {
  margin: 0 auto;
  width: 80%;
}

.items {
  text-align: left;
  margin: 0 auto;
  width: 80%;
}

.item {
  margin-top: 15px;
}
